 .test {
   &__title {
     text-align: center;
     color: @black;
   }
   &__wrapper {
     display: flex;
   }
   &__item-input {
     padding-left: 0;
     font-size: .7rem;
     &:focus {
       background: @gray;
       color: @white;
     }
   }
 }